{% extends "new-sidebar.html" %}

{% load django_bootstrap5 %}

{% block header %}
    </br>
    <div class="py-3 bg-light text-center">
        <h2 class="display-5">Apontamento - OP: {{ ordem_producao.id }} </h2>
    </div>
{% endblock header %}

{% block content %}

    <div>
        <div class="container-fluid">
            <form action="{% url 'apontamento_producao' ordem_producao.id %}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.funcionario_apontamento.label_tag }}  <!-- Label manual -->
                        {{ form.funcionario_apontamento }}            <!-- Input manual -->
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.maquina.label_tag }}
                        {{ form.maquina }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.inicio_producao.label_tag }}
                        {{ form.inicio_producao }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ form.fim_producao.label_tag }}
                        {{ form.fim_producao }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form.quantidade_produzida.label_tag }}
                        {{ form.quantidade_produzida }}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
            
            <!-- <form action="{% url 'apontamento_producao' ordem_producao.id %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                
                {% block buttons %}
                    <div class="col-auto">
                        <button name="submit" class="btn btn-primary mb-3">Adicionar</button>
                    </div>
                {% endblock buttons %} -->
            </form>
        </div>
    </div>

{% endblock content %}
