{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
    <div class="card-header d-flex justify-content-between">
      <div>
          <h2 class="display-6 mb-0">Ordem de Produção N° <strong>{{ ordem_producao.id }}</strong></h2>
      </div>
      <div style="align-content: center;">
      </div>
  </div>
{% endblock header %}

{% block content %}

    <div class="container-fluid">
        <form action="{% url 'apontamento_producao' ordem_producao.id %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.funcionario_apontamento.label_tag }}  <!-- Label manual -->
                    {{ form.funcionario_apontamento }}            <!-- Input manual -->
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.maquina.label_tag }}
                    {{ form.maquina }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.inicio_producao.label_tag }}
                    {{ form.inicio_producao }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.fim_producao.label_tag }}
                    {{ form.fim_producao }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.quantidade_produzida.label_tag }}
                    {{ form.quantidade_produzida }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
{% endblock content %}

            
    <!-- <form action="{% url 'apontamento_producao' ordem_producao.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        {% block buttons %}
            <div class="col-auto">
                <button name="submit" class="btn btn-primary mb-3">Adicionar</button>
            </div>
        {% endblock buttons %} -->
