{% extends "core/base.html" %}

{% load static %}
{% load humanize %}


{% block header %}
    </br>
    <div class="py-3 bg-light text-center">
        <h2 class="display-5">Ordens de Produção</h2>
    </div>
{% endblock header %}

{% block content %}

{% block buttons %}
  <div class="d-grid gap-2" style="margin-top: 10px;">
      <a class="btn btn-primary" href="{% url 'new_ordem'%}" role="button">Adicionar OP</a>
  </div>
{% endblock buttons %}

</br>
    <table class="table table-hover">
        <thead >
          <tr>
            <th scope="col">OP</th>
            <th scope="col">ID Produto</th>
            <th scope="col">Tipo</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Previsão Entrega</th>
            <th scope="col">Status</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody class="table table-hover">
        {% for ordem_producao in ordens_producao %}
          <tr style="cursor: pointer;" onclick="window.location.href='{% url 'ordem_producao' ordem_producao.id  %}'">
            <!-- Apesar do HTML está apontando erro, essa linha funciona normalmente -->
            <th scope="row">{{ ordem_producao.id }}</th>
            <td>{{ ordem_producao.produto.codigo }}</td>
            <td>{{ ordem_producao.produto.nome }}</td>
            <td>{{ ordem_producao.quantidade|intcomma }}</td>
            <td>{{ ordem_producao.data_previsao | date:'d/m/Y'}}</td>
            <td>{{ ordem_producao.get_status_display }}</td>
            <td><a href="{% url 'novo_produto' %}"><img src="{% static 'core/icon-apontamento.png' %}" style="width: 30px; margin-bottom: -5px;"></a></td>
          </tr>
        {% empty %}
          Não há ordens para visualizar
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}
