{% extends "base.html" %}

{% load static %}
{% load humanize %}


{% block header %}
    </br>
    <div class="py-3 bg-light text-center">
        <h2 class="display-5">Ordens de Produção</h2>
    </div>
{% endblock header %}

{% block content %}

{% block buttons %}
  <div class="d-grid gap-2" style="margin-top: 10px;">
      <a class="btn btn-primary" href="{% url 'new_ordem'%}" role="button">Adicionar OP</a>
  </div>
{% endblock buttons %}

</br>
    <table class="table table-hover">
        <thead >
          <tr>
            <th scope="col">OP</th>
            <th scope="col">Produto</th>
            <th scope="col">Cliente</th>
            <th scope="col">Tipo</th>
            <th scope="col">Qtd Pedido</th>
            <th scope="col">Qtd Apontada</th>
            <th scope="col">Saldo</th>
            <th scope="col">Previsão Entrega</th>
            <th scope="col">Status</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody class="table table-hover">
        {% for ordem_producao in ordens_producao %}
          <tr style="cursor: pointer;" onclick="window.location.href='{% url 'ordem_producao' ordem_producao.id  %}'">
            <!-- Apesar do HTML está apontando erro, essa linha funciona normalmente -->
            <th scope="row">{{ ordem_producao.id }}</th>
            <td>{{ ordem_producao.produto.codigo }}</td>
            <td>{{ ordem_producao.cliente.nome_cliente }}</td>
            <td>{{ ordem_producao.produto.nome }}</td>
            <td>{{ ordem_producao.quantidade|intcomma }}</td>
            <td>{{ ordem_producao.quantidade_produzida|intcomma}}</td>
            <td>{{ ordem_producao.saldo_op }}</td>
            <td>{{ ordem_producao.data_previsao | date:'d/m/Y'}}</td>
            {% if ordem_producao.status == "em_producao"%}
              <td><span class="badge text-bg-primary">{{ ordem_producao.get_status_display }}</span></td>
            {% elif ordem_producao.status == "pendente" %}
             <td> <span class="badge text-bg-warning">{{ ordem_producao.get_status_display }}</span></td>
            {% else %}
              <td> <span class="badge text-bg-success">{{ ordem_producao.get_status_display }}</span></td>
            {% endif %}
            <td><a href="{% url 'novo_produto' %}"><img src="{% static 'core/icon-apontamento.png' %}" style="width: 30px; margin-bottom: -5px;"></a></td>
          </tr>
        {% empty %}
          Não há ordens para visualizar
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}
