{% extends "core/base.html" %}

{% load django_bootstrap5 %}

{% block content %}

    <div>
        <div style="margin-top: 1%;">
            <h3> N° OP: {{ ordem_producao }} </h3>
        </div>
        <div>
            N° Produto
            <input class="form-control" type="text" value="{{ ordem_producao.produto}}" disabled></br>
            Tipo Produto
            <input class="form-control" type="text" value="{{ ordem_producao.produto.nome}}" disabled></br>
            Previsão Entrega
            <input class="form-control" type="text" value="{{ ordem_producao.data_previsao | date:'d/m/Y' }}" disabled></br>
            Status
            <input class="form-control" type="text" value="{{ ordem_producao.status}}" disabled></br>
        </div>
    </div>

{% endblock content %}