{% extends "base.html" %}

{% load static %}
{% load humanize %}


{% block header %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Produto Acabado</li>
  </ol>
</nav>

<h2 style="text-align: center;" class="display-5">Produto Acabado</h2>
{% endblock header %}

{% block content %}

{% block buttons %}
  <div class="d-grid gap-2" style="margin-top: 10px;">
      <a class="btn btn-primary" href="{% url 'new_ordem'%}" role="button">Adicionar</a>
  </div>
{% endblock buttons %}

</br>
    <table class="table table-bordered table-hover">
        <thead >
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Nome Cliente</th>
            <th scope="col">Quantidade</th>
            <th style="text-align: center;" scope="col">Endereço</th>
          </tr>
        </thead>
        <tbody class="table">
        {% for pa in produto_acabado %}
              <!-- Apesar do HTML está apontando erro, essa linha funciona normalmente -->
              <td scope="row">{{ pa.produto.codigo }}</td>
              <td>{{ pa.produto.cliente }}</td>
              <td>{{ pa.quantidade | floatformat:0| intcomma }}</td>
              <td style="text-align: center;">{{ pa.localizacao }}</td>
          </tr>
        {% empty %}
          Não há pedidos.
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}
<!-- 
<tr onclick="window.location.href='{% url 'ordem_producao' ordem_producao.id  %}'"> -->