{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
</br>
<div class="py-3 bg-light text-center">
    <h2 class="display-4">Entrada Estoque</h2>
</div>
{% endblock header %}

{% block content %}
<div class="container-fluid">
        <form method="POST" action="{% url 'novo_produto_acabado' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="codigo_produto">Produto</label>
                    <input type="text" class="form-control" name="codigo_produto" id="codigo_produto" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="qtdEntrada">Quantidade</label>
                    <input type="number" class="form-control" name="qtdEntrada" id="qtdEntrada" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label for="rua">Rua</label>
                    <select name="rua" id="rua" class="form-control" required>
                        <option value="RA">Rua A</option>
                        <option value="RB">Rua B</option>
                        <option value="RC">Rua C</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="coluna">Coluna</label>
                    <select name="coluna" id="coluna" class="form-control" required>
                        <option value="C1">Coluna 1</option>
                        <option value="C2">Coluna 2</option>
                        <option value="C3">Coluna 3</option>
                        <option value="C4">Coluna 4</option>
                        <option value="C5">Coluna 5</option>
                        <option value="C6">Coluna 6</option>
                        <option value="C7">Coluna 7</option>
                        <option value="C8">Coluna 8</option>
                        <option value="C9">Coluna 9</option>
                        <option value="C10">Coluna 10</option>
                    </select>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="andar">Andar</label>
                    <select name="andar" id="andar" class="form-control" required>
                        <option value="A1">Andar 1</option>
                        <option value="A2">Andar 2</option>
                        <option value="A3">Andar 3</option>
                    </select>
                </div>
            </div>
    <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
</div>

{% endblock content %}


<!-- <form action="{% url 'apontamento_producao' ordem_producao.id %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        
        {% block buttons %}
            <div class="col-auto">
                <button name="submit" class="btn btn-primary mb-3">Adicionar</button>
            </div>
        {% endblock buttons %} -->