{% extends "base.html" %}

{% block header %}
<div class="card-header d-flex justify-content-between">
    <div>
        <h2 class="display-6 mb-0">Funcionários</h2>
    </div>
    <div style="align-content: center;">
        {% block buttons %}
        <div class="d-grid gap-1">
          <a class="btn btn-primary" href="{% url 'novo_funcionario'%}" role="button">Adicionar</a>
      </div>
        {% endblock buttons %}
    </div>
</div>
{% endblock header %}

{% block content %}

</br>
    <table class="table table-hover">
        <thead >
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Status</th>
            <th scope="col">Data Registro</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody class="table table-hover">
        {% for funcionario in list_funcionarios %}
          <tr>
            <!-- Apesar do HTML está apontando erro, essa linha funciona normalmente -->
            <th scope="row">{{ funcionario.id }}</th>
            <td>{{ funcionario.nome_funcionario }}</td>
            <td>{{ funcionario.matricula_funcionario }}</td>
            {% if funcionario.status == "ativo"%}
            <td><span class="badge text-bg-primary">{{ funcionario.get_status_display }}</span></td>
            {% else %}
            <td> <span class="badge text-bg-warning">{{ funcionario.get_status_display }}</span></td>
            {% endif %}
            <td>{{ funcionario.created_at }}</td>
            <td><a class="btn btn-primary" role="button">Editar</a></td>
          </tr>
        {% empty %}
          Não produtos cadastrados
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}
