{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
<div class="card-header d-flex justify-content-between">
    <div>
        <h2 class="display-6 mb-0">Adicionar Funcionário</h2>
    </div>
    <div style="align-content: center;">
    </div>
</div>
{% endblock header %}

{% block content %}

    <div>
        <div>
            <!-- <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example"> -->
            <form action="{% url 'novo_funcionario' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                
                {% block buttons %}
                    <div class="col-auto">
                        <button name="submit" class="btn btn-primary mb-3">Adicionar</button>
                    </div>
                {% endblock buttons %}
            </form>
        </div>
    </div>

{% endblock content %}