{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
    <div class="py-3 bg-light text-center">
        <h2 class="display-4">Adicionar Produto</h2>
    </div>
{% endblock header %}

{% block content %}

    <div class="container d-block justify-content-center">
        <form action="{% url 'novo_produto' %}" method="POST">
            {% csrf_token %}
            <div class="row ms-5">
                <div class="col-md-7 mb-3">
                    {{ form.nome.label_tag }}
                    {{ form.nome }}
                </div>
            </div>
            <div class="row ms-5">
                <div class="col-md-4 mb-3">
                    {{ form.cliente.label_tag }}  <!-- Label manual -->
                    {{ form.cliente }}            <!-- Input manual -->
                </div>
                <div class="col-md-2 mb-3">
                    <label for="cliente_id">ID do Cliente</label>
                    <input type="text" id="cliente_id" class="form-control" disabled>
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.codigo.label_tag }}
                    {{ form.codigo }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 mb-3">
                    {{ form.material.label_tag }}
                    {{ form.material }}
                </div>
                <div class="col-md-2 mb-3">
                    {{ form.peso.label_tag }}
                    {{ form.peso }}
                </div>
                <div class="col-md-2 mb-3">
                    {{ form.volume.label_tag }}
                    {{ form.volume }}
                </div>
                <div class="col-md-3 mb-3">
                    {{ form.cor.label_tag }}
                    {{ form.cor }}
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-11 mb-3">
                    {{ form.descricao.label_tag }}
                    {{ form.descricao }}
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary ms-">Adicionar</button>
            </div>
        </div>

        </form>
    </div>

    <script>
        window.onload = function(){
            document.getElementById("id_data_previsao").type = "date";
        }
    
        document.addEventListener('DOMContentLoaded', function() {
            const clienteSelect = document.getElementById('id_cliente');
            const clienteIdInput = document.getElementById('cliente_id');

            clienteSelect.addEventListener('change', function() {
                const selectedOption = clienteSelect.options[clienteSelect.selectedIndex]; 
                clienteIdInput.value = selectedOption.value; // Define o valor do input com o ID do cliente
        });

            if (clienteSelect.value) {
                clientIdInput.value = clienteSelect.value
            }
        })
    </script>

{% endblock content %}