{% extends "base.html" %}

{% load django_bootstrap5 %}


{% block header %}
    <div class="card-header d-flex justify-content-between">
      <div>
          <h2 class="display-6 mb-0">Produto N° {{ produto.codigo }}</h2>
      </div>
      <div style="align-content: center;">
        {% block buttons %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Gerar Ordem de Produção</button>
        {% endblock buttons %}
      </div>
  </div>
{% endblock header %}

{% block content %}
</br>
<div class="row">
    <div class="col-md-6 mb-3">
        <label for="disabledTextInput" class="form-label">Cliente</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.cliente }}">
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-5 mb-3">
        <label for="disabledTextInput" class="form-label">Tipo</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.tipo }}">
    </div>
    <div class="col-md-3 mb-3">
        <label for="disabledTextInput" class="form-label">Código (SKU)</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.codigo }}">
    </div>
    <div class="col-md-4 mb-3">
        <label for="disabledTextInput" class="form-label">Material</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.material }}">
    </div>
</div>
<div class="row">
    <div class="col-md-4 mb-3">
        <label for="disabledTextInput" class="form-label">Peso (g)</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.peso }}">
    </div>
    <div class="col-md-4 mb-3">
        <label for="disabledTextInput" class="form-label">Volume (ml)</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.volume }}">
    </div>
    <div class="col-md-4 mb-3"">
        <label for="disabledTextInput" class="form-label">Cor</label>
        <input disabled type="text" id="disabledTextInput" class="form-control form-control"
            value="{{ produto.cor }}">
    </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Gerar Ordem de Produção</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'new_ordem_modal' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" name="produto_id" value="{{ produto.id }}">

                        <label for="qtdOP">Quantidade</label>
                        <input type="number" class="form-control" name="quantidade" id="qtdOP" required>
                        </br>
                        <label for="dataPrevista">Data de Entrega</label>
                        <input type="date" class="form-control" name="data_previsao" id="dataPrevista" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Gerar OP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}