{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %} 

<html>
    <head>
        <style>
            .login {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
        </style>
    </head>
<body>
            
<div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"> <img class="logo-irfy rounded img-fluid" src="{% static 'core/IMG_0363.PNG' %}"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Bem vindo ao TrackProd!</h3>
                <!-- Sign In Form -->
                <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
  
                  {% comment %} <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      Manter-se conectado
                    </label>
                  </div> {% endcomment %}
  
                  <div class="d-grid">
                    {% block buttons %}
                      <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" name="submit">Entrar</button>
                    {% endblock buttons %}

                    {% comment %} Envia para a index page {% endcomment %}

                    <input type="hidden" name="next" value="{% url 'index' %}"> 
                    {% comment %} <div class="text-center">
                      <a class="small" href="#">Esqueceu sua senha?</a>
                    </div> {% endcomment %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>