.divCentral {
    margin: 0%;
    padding: 0;
    min-height: 100vh;
}

.sidebar {
    padding: 0;
    top: 0;
    left: 0;
    width: 200px;
    background-color: #212529;
    transition: width 0.3s;
}
.nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: white;
}

.description {
    font-size: 14px;
}

.submenuDescription {
    font-size: 13px;
}

.sidebar .nav-link:hover{
    background-color: #343a40;
    color: white;
}

.sidebar .sub-menu {
    background-color: #111416;
}

.logo-irfy {
    width: 100%;
    padding: 10%;
    margin-bottom: 15%;
    margin-top: -10%;
}

.main-content {
    transition: margin-left 0.3s;
}

.col {
    padding: 2%;
}

.sideIcon {
    padding: 0;
    margin: 0;
}

.spanIcon {
    margin-top: -2%;
}

/* ============================ Mobile ============================= */

@media (max-width: 480px) {

    .sidebar {
        width: 60px;
    }

    .sidebar .description .arrow .submenuDescription {
        display: none;
    }

    .navbar {
        display: none;
    }

    .main-content {
        margin-left: 10%;
    }
}