{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aplicativo de Gerenciamento Fabril" />
  <meta name="keywords" content="Gerenciamento" />
  <meta name="author" content="Igor Costa" />

  <title>TrackProd</title>

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}

  <link rel="shortcut icon" href="{% static 'icons/favicon.png' %}">
  <link rel="stylesheet" href="{% static 'style/base.css' %}">
</head>

<body>

  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </ul>
      <div class="d-flex">
        {% if user.is_authenticated %}
          <p class="nav-link text-white mb-0" aria-current="page" style="margin-right: -3%;">Olá, {{ user.username }}</p>
          <div class="vr text-light" style=" margin-top: 10px; width: 7px; height: 50px;"></div>
          <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Sair</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-1 col-xl-1 bg-dark backSidebar">
        <div class="d-flex flex-column align-items-start min-vh-100">
          <div class="sidebar">
            <img class="logo-irfy rounded img-fluid" src="{% static 'core/logo-irfy2.png' %}">

            <nav class="nav flex-column">
              <a class="nav-link" href="{% url 'index' %}">
                <span class="spanIcon"><img class="sideIcon" src="{% static 'icons/home.svg' %}"></span>
                <span class="description">Home</span>
              </a>
              <!-- Dropdown Produção -->
              <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenuProducao"
                aria-expanded="false" aria-controls="submenuProducao">
                <span class="spanIcon"><img class="sideIcon" src="{% static 'icons/factory.svg' %}"></span>
                <span class="description">Produção</span>
                <span class="arrow">▼</span>
              </a>
              <div class="sub-menu collapse" id="submenuProducao">
                <a href="{% url 'list_ordens' %}" class="nav-link">
                  <span class="submenuDescription">Ordens de Produção</span>
                </a>
                <a href="{% url 'list_maquinas' %}" class="nav-link">
                  <span class="submenuDescription">Máquinas</span>
                </a>
              </div>
              <!-- Dropdown Produto -->
              <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenuProduto"
                aria-expanded="false" aria-controls="submenuProduto">
                <span class="spanIcon"><img class="sideIcon" src="{% static 'icons/product.svg' %}"></span>
                <span class="description">Produto</span>
                <span class="arrow">▼</span>
              </a>
              <div class="sub-menu collapse" id="submenuProduto">
                <a href="{% url 'list_produtos' %}" class="nav-link">
                  <span class="submenuDescription">Lista Produtos</span>
                </a>
              </div>
              <!-- Dropdown Estoque -->
              <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenuEstoque"
                aria-expanded="false" aria-controls="submenuEstoque">
                <span class="spanIcon"><img class="sideIcon" src="{% static 'icons/package.svg' %}"></span>
                <span class="description">Estoque</span>
                <span class="arrow">▼</span>
              </a>
              <div class="sub-menu collapse" id="submenuEstoque">
                <a href="" class="nav-link">
                  <span class="submenuDescription">Lista Estoque</span>
                </a>
              </div>
              <div class="sub-menu collapse" id="submenuEstoque">
                <a href="{% url 'list-produto-acabado' %}" class="nav-link">
                  <span class="submenuDescription">Estoque Acabado</span>
                </a>
              </div>
              <div class="sub-menu collapse" id="submenuEstoque">
                <a href="{% url 'ordens_producao_entrada_estoque' %}" class="nav-link">
                  <span class="submenuDescription">Entrada Estoque Acabado</span>
                </a>
              </div>
              <!-- Dropdown Funcionários -->
              <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenuFuncionarios"
                aria-expanded="false" aria-controls="submenuFuncionarios">
                <span class="spanIcon"><img class="sideIcon" src="{% static 'icons/employees.svg' %}"></span>
                <span class="description">Funcionários</span>
                <span class="arrow">▼</span>
              </a>
              <div class="sub-menu collapse" id="submenuFuncionarios">
                <a href="{% url 'list_funcionarios' %}" class="nav-link">
                  <span class="submenuDescription">Lista Funcionários</span>
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="col py-3 bg-light">
        <!-- <div class="header-path">
          {% block header-path %}
          {% endblock header-path %}
        </div> -->
        <div class="container bg-white rounded-4 p-4 " style="box-shadow: 0px 0px 20px 1px #dbdbdb;">
          <div class="card card-header-actions" style="margin: -2%; margin-bottom: 2%; height: 10%; background-color: gray; border: none; padding: 1%;">{% block header %}{% endblock header %}</div>
          <div>{% block content %} {% endblock content %}</div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!-- <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
  <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
  <span class="d-none d-sm-inline mx-1">loser</span>
</a>
<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
  <li><a class="dropdown-item" href="#">New project...</a></li>
  <li><a class="dropdown-item" href="#">Settings</a></li>
  <li><a class="dropdown-item" href="#">Profile</a></li>
  <li>
      <hr class="dropdown-divider">
  </li>
  <li><a class="dropdown-item" href="#">Sign out</a></li>
</ul> -->

<!-- <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li> -->