{% extends "base.html" %}

{% block header %}
</br>
<div class="py-3 bg-light text-center">
    <h2 class="display-5">TrackProd</h2>
</div>
{% endblock header %}

{% block content %}

    <!-- {% if user.is_authenticated %} -->

    <iframe width="1250" height="750" src="https://lookerstudio.google.com/embed/reporting/18c8aac3-e58e-44d2-8353-f0d526288e70/page/ORlpD" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>

    {% else %}

        <div class="text-center">
            <a class="btn btn-primary" href="">
                Crie uma conta para utilizar a aplicação irfyNotes
            </a>

        </div>

    {% endif %}

{% endblock content %}