{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
    <div class="card-header d-flex justify-content-between">
      <div>
          <h2 class="display-6 mb-0">Editar Máquina: <strong>{{ maquina.nome }}</strong></h2>
      </div>
      <div style="align-content: center;">
      </div>
  </div>
{% endblock header %}

{% block content %}

    <div>
        <div>
            <!-- <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example"> -->
            <form action="{% url 'edit_maquina' maquina.id %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
            
                {% block buttons %}
                    <div class="d-grid gap-2">
                        <button name="submit" class="btn btn-primary">Confirmar</button>
                    </div>
                {% endblock buttons %}
        </div>
    </div>

{% endblock content %}