{% extends "base.html" %}

{% load static %}
{% load humanize %}


{% block header %}
    </br>
    <div class="py-3 bg-light text-center">
        <h2 class="display-5">Maquinas</h2>
    </div>
{% endblock header %}

{% block content %}

{% block buttons %}
  <div class="d-grid gap-2" style="margin-top: 10px;">
      <a class="btn btn-primary" href="{% url 'nova_maquina'%}" role="button">Adicionar Maquina</a>
  </div>
{% endblock buttons %}

</br>
    <table class="table table-hover">
        <thead >
          <tr>
            <th scope="col">Maquina</th>
            <th scope="col">Codigo</th>
            <th scope="col">Capacidade Produtiva</th>
            <th scope="col">Status</th>
            <th scope="col">Ação</th>
          </tr>
        </thead>
        <tbody class="table table-hover">
        {% for maquina in maquinas %}
          <tr style="cursor: pointer;" onclick="window.location.href='{% url 'maquina' maquina.id  %}'">
            <!-- Apesar do HTML está apontando erro, essa linha funciona normalmente -->
            <th scope="row">{{ maquina.nome }}</th>
            <td>{{ maquina.codigo }}</td>
            <td>{{ maquina.capacidade_producao|intcomma }}</td>
            <td>{{ ordem_producao.data_previsao | date:'d/m/Y'}}</td>
            {% if maquina.status == "ativo" %}
              <td><span class="badge text-bg-success">Ativa</span></td>
            {% else %}
              <td> <span class="badge text-bg-warning">Inativa</span></td>
            {% endif %}
            <td><a href="{% url 'index' %}"><img src="{% static 'core/icon-apontamento.png' %}" style="width: 30px; margin-bottom: -5px;"></a></td>
          </tr>
        {% empty %}
          Não há ordens para visualizar
        {% endfor %}
        </tbody>
      </table>

{% endblock content %}
