{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block header %}
    <div class="py-3 bg-light text-center">
        <h2 class="display-4">{{maquina.nome}}</h2>
    </div>
{% endblock header %}

{% block content %}

<div>
    <div style="display: flex; justify-content: space-around;">
        <div>
            Maquina </br>
            <input class="form-control" type="text" value="{{ maquina.nome }}" disabled style="width: 100%;" id="maquina_nome">
        </div>
        <div>
            Codigo</br>
            <input class="form-control" type="text" value="{{ maquina.codigo }}" disabled style="width: 100%;" id="maquina_codigo">
        </div>
        <div>
            Capacidade Produtiva </br>
            <input class="form-control" type="text" value="{{ maquina.capacidade_producao }}" disabled style="width: 100%;" id="maquina_capacidade">
        </div>
        <div>
            <label for="status">Status</label>
            <input class="form-control" type="text" value="{{ maquina.get_status_display }}" disabled style="width: 100%;" id="status">
        </div>
        <div>
            Data Adicionada </br>
            <input class="form-control" type="text" value="{{ maquina.date_added | date:'d/m/Y' }}" disabled style="width: 100%;" id="maquina_data_adicionada">
        </div>
    </div>

    {% block buttons %}
        <div class="d-grid gap-2" style="margin-top: 10px;">
            <a class="btn btn-primary" id="btn_edit" href="{% url 'edit_maquina' maquina.id %}" role="button">Editar Maquina</a>
        </div>
    {% endblock buttons %}
</div>


<!-- <script>
    function edit_campo() {
        // Habilita os campos para edição
        document.getElementById("maquina_nome").disabled = false;
        document.getElementById("maquina_codigo").disabled = false;
        document.getElementById("maquina_capacidade").disabled = false;
        document.getElementById("maquina_status").disabled = false;
    }
</script> -->

{% endblock content %}


